<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--文章信息-->
<mapper namespace="com.colin.foodsource.dao.ArticleLikeCollectMapper">

    <!--添加文章点赞收藏-->
    <insert id="addArticleLikeCollect" parameterType="com.colin.foodsource.model.ArticleLikeCollect">
        insert into op_article_like_collect (
        article_id,
        like_state,
        like_date,
        collect_state,
        collect_date,
        o_id_user,
        state
        )
        VALUES (
        #{articleId,jdbcType=VARCHAR},
        #{likeState,jdbcType=VARCHAR},
        #{likeDate},
        #{collectState,jdbcType=VARCHAR},
        #{collectDate},
        #{oIdUser,jdbcType=VARCHAR},
        #{state,jdbcType=VARCHAR}
        )
    </insert>

    <!--是否存在用户点赞收藏的文章-->
    <select id="isExistsData" resultType="java.lang.Integer">
        select count(1) from op_article_like_collect where article_id = #{articleId} and o_id_user = #{userId}
    </select>

    <!--更新点赞状态-->
    <update id="updateLikeState">
        update op_article_like_collect set like_state = #{likeState},like_date = now(),state = '0' where article_id = #{articleId} and o_id_user = #{userId}
    </update>

    <!--更新收藏状态-->
    <update id="updateCollectState">
        update op_article_like_collect set collect_state = #{collectState},collect_date = now(),state = '0' where article_id = #{articleId} and o_id_user = #{userId}
    </update>
</mapper>
