<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--文章信息-->
<mapper namespace="com.colin.foodsource.dao.ArticleLikeCollectMapper">

    <!--添加文章点赞收藏-->
    <insert id="addArticleLikeCollect" parameterType="com.colin.foodsource.model.ArticleLikeCollect">

    </insert>
</mapper>
