<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--评论点赞收藏信息-->
<mapper namespace="com.colin.foodsource.dao.CommentLikeCollectMapper">

    <!--添加评论点赞收藏-->
    <insert id="addCommentLikeCollect" parameterType="com.colin.foodsource.model.CommentLikeCollect">

    </insert>
</mapper>
