<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--词条编辑记录信息-->
<mapper namespace="com.colin.foodsource.dao.EntryEditRecordMapper">

    <!--添加词条编辑记录-->
    <insert id="addEntryEditRecord" parameterType="com.colin.foodsource.model.EntryEditRecord">
        insert into op_entry_edit_record (
        entry_edit_record_id,
        food_entry_id,
        entry_name,
        entry_english_name,
        entry_tag,
        entry_taste,
        entry_cuisine,
        main_ingredients,
        make_way,
        common_area,
        entry_introduction,
        entry_history,
        entry_content,
        entry_img1,
        entry_img2,
        entry_img3,
        entry_img4,
        entry_img5,
        edit_content,
        edit_date,
        o_id_input,
        entry_state
        )
        VALUES (
        #{entryEditRecordId,jdbcType=VARCHAR},
        #{foodEntryId,jdbcType=VARCHAR},
        #{entryName,jdbcType=VARCHAR},
        #{entryEnglishName,jdbcType=VARCHAR},
        #{entryTag,jdbcType=VARCHAR},
        #{entryTaste,jdbcType=VARCHAR},
        #{entryCuisine,jdbcType=VARCHAR},
        #{mainIngredients,jdbcType=VARCHAR},
        #{makeWay,jdbcType=VARCHAR},
        #{commonArea,jdbcType=VARCHAR},
        #{entryIntroduction,jdbcType=VARCHAR},
        #{entryHistory,jdbcType=VARCHAR},
        #{entryContent,jdbcType=VARCHAR},
        #{entryImg1,jdbcType=VARCHAR},
        #{entryImg2,jdbcType=VARCHAR},
        #{entryImg3,jdbcType=VARCHAR},
        #{entryImg4,jdbcType=VARCHAR},
        #{entryImg5,jdbcType=VARCHAR},
        #{editContent,jdbcType=VARCHAR},
        #{editDate},
        #{oIdInput,jdbcType=VARCHAR},
        #{entryState,jdbcType=VARCHAR}
        )
    </insert>

    <!--提交记录-->
    <update id="commitRecord">
        update op_entry_edit_record set entry_state = '1' where entry_edit_record_id = #{entryEditRecordId}
    </update>
</mapper>
