<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--菜品词条信息-->
<mapper namespace="com.colin.foodsource.dao.FoodEntryMapper">

    <!--添加菜品词条-->
    <insert id="addFoodEntry" parameterType="com.colin.foodsource.model.FoodEntry">
        insert into db_food_entry (
        food_entry_id,
        entry_name,
        entry_english_name,
        entry_tag,
        entry_taste,
        entry_cuisine,
        main_ingredients,
        make_way,
        common_area,
        entry_introduction,
        entry_history,
        entry_content,
        edit_count,
        entry_img1,
        entry_img2,
        entry_img3,
        entry_img4,
        entry_img5,
        o_id_input,
        input_date,
        o_id_modify,
        last_mod_date
        )
        VALUES (
        #{foodEntryId,jdbcType=VARCHAR},
        #{entryName,jdbcType=VARCHAR},
        #{entryEnglishName,jdbcType=VARCHAR},
        #{entryTag,jdbcType=VARCHAR},
        #{entryTaste,jdbcType=VARCHAR},
        #{entryCuisine,jdbcType=VARCHAR},
        #{mainIngredients,jdbcType=VARCHAR},
        #{makeWay,jdbcType=VARCHAR},
        #{commonArea,jdbcType=VARCHAR},
        #{entryIntroduction,jdbcType=VARCHAR},
        #{entryHistory,jdbcType=VARCHAR},
        #{entryContent,jdbcType=VARCHAR},
        #{editCount,jdbcType=INTEGER},
        #{entryImg1,jdbcType=VARCHAR},
        #{entryImg2,jdbcType=VARCHAR},
        #{entryImg3,jdbcType=VARCHAR},
        #{entryImg4,jdbcType=VARCHAR},
        #{entryImg5,jdbcType=VARCHAR},
        #{oIdInput,jdbcType=VARCHAR},
        #{inputDate},
        #{oIdModify,jdbcType=VARCHAR},
        #{lastModDate}
        )
    </insert>

    <!--词条是否存在-->
    <select id="isExistsEntry" resultType="java.lang.Integer">
        select count(1) from db_food_entry where food_entry_id = #{foodEntryId}
    </select>
</mapper>
